<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% block title %}{% endblock title %}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/materialUI.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body class="intro-page transport-lp">

{% block content %}
{% endblock content %}

<footer class="page-footer mdb-color darken-3 text-center text-md-left pt-5">

    <!--Footer Links-->
    <div class="container mb-3">

        <!--First row-->
        <div class="row">
  
          <!--First column-->
          <div class="col-md-4 mt-1 mb-1 wow fadeIn" data-wow-delay="0.3s">
            <!--About-->
            <h5 class="title mb-4 font-weight-bold">ABOUT COMPANY</h5>
  
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quibusdam eum odit impedit ipsum odio, ipsa dolore, nihil distinctio voluptate repellat, suscipit! Autem, incidunt debitis.</p>
  
            <div class="footer-socials mt-2">
  
              <!--Facebook-->
              <a type="button" class="btn-floating  btn-primary"><i class="fab fa-facebook-f"></i></a>
              <!--Dribbble-->
              <a type="button" class="btn-floating  btn-danger-2"><i class="fab fa-dribbble"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating  btn-cyan"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating  btn-danger"><i class="fab fa-google-plus-g"></i></a>
  
            </div>
          </div>
          <!--/First column-->
  
          <hr class="w-100 clearfix d-md-none">
  
          <!--Second column-->
          <div class="col-lg-3 ml-lg-auto col-md-4 mt-1 mb-1 wow fadeIn" data-wow-delay="0.3s">
            <!--Search-->
            <h5 class="text-uppercase mb-4 font-weight-bold">Pages</h5>
            <p class="mb-1"><a href="#">Home</a></p>
            <p class="mb-1"><a href="#">Rooms</a></p>
            <p class="mb-1"><a href="#">Contact</a></p>
            <p class="mb-1"><a href="#">Account</a></p>
            <p class="mb-1"><a href="#">Disclaimer</a></p>
            <p class="mb-1"><a href="#">Privacy Policy</a></p>
  
          </div>
          <!--/Second column-->
  
          <hr class="w-100 clearfix d-md-none">
  
          <!--Third column-->
          <div class="col-lg-3 ml-lg-auto col-md-4 mt-1 mb-1 wow fadeIn" data-wow-delay="0.3s">
            <!--Contact-->
            <h5 class="text-uppercase mb-4 font-weight-bold text-center" id="footer_form_title">Get in Touch</h5>
            <p class="mb-4 text-center" id="footer_form_res"></p>
            <form id="footer_form">
              <input type="text" id="full_name" name="full_name" class="form-control mb-2" id="email" name="email" placeholder="Full name" required>
              <input type="email" id="email" name="email" class="form-control mb-2" placeholder="Email" required>
                  <select name="subject" id="subject" class="browser-default custom-select mb-2" required>
                      <option disabled selected>Subject</option>
                      <option value="Feedback">Feedback</option>
                      <option value="Request for a room">Request for room</option>
                      <option value="Other">Other</option>
                  </select>
                <div class="form-group">
                      <textarea class="form-control rounded-0" id="message" name="message" rows="3" placeholder="Message" required></textarea>
                </div>
                <button type="submit" id="footer_form_btn" name="submit" class="btn btn-primary btn-block">Send</button>
            </form>
  
          </div>
          <!--/Third column-->
  
        </div>
        <!--/First row-->
  
      </div>
      <!--/Footer Links-->
  <hr style="background: #757575; margin: 0;">
      <!--Copyright-->
      <div class="footer-copyright py-3 text-center">
        <div class="container-fluid text-light">&copy; 2021 Bed & Breakfast <i class="fas fa-utensils"></i> | All Rights Reserved</div>
      </div>
      <!--/Copyright-->
<script>
$(document).ready(function(){
$("#res_div").hide();
$("#contact_form").on("submit", function(e){
    e.preventDefault();
    $("#submit_btn").html("Sending <img src="+ "{{ url_for('static', filename='img/loader.gif') }}" +" style='width: 20px;'>");
    $("#submit_btn").attr("disabled", true);
    $.ajax({
        url: "{{ url_for('views.contact') }}",
        type: "POST",
        data: $(this).serialize(),
        success: function(data){
            $("#res_msg").html(data);
            $("#contact_form").hide();
            $("#res_div").show();
        }
    });
});
});
</script>

</body>
</html>