{% extends "base.html" %}
{% block title %}Bed &amp; Breakfast{% endblock title %}
{% block content %}

<header>
{% include "navbar.html" %}
    <!-- Intro Section -->
    <div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://wallpaperaccess.com/full/902489.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask rgba-black-light">
        <div class="container h-100 d-flex justify-content-center align-items-center">
          <div class="row smooth-scroll">
            <div class="col-md-12 white-text text-center">
              <div class="wow fadeInDown" data-wow-delay="0.2s">
                <h1 class="display-4 text-uppercase rgba-black-light px-3 py-2"><strong class="font-weight-bold">Find a place that suits you</strong></h1>



</div>
</div>
</div>
</div>
</div>
</div>
</header>

<main>
      <div class="container">
      <div class="row">
        <section class="py-4">

<div class="row">

<div class="col-lg-6 col-md-12">
        <div class="news-tile view zoom z-depth-1 rounded mb-4">
          <a href="#" class="text-white">
            <img src="https://assets.bedful.com/images/4443a172319851c46dd21de89b31b04ce36301cc/large/image/cool-places-books.jpg"
                 class="img-fluid rounded-bottom">
            <div class="mask">
              <div class="text-white text-center py-4 ml-lg-4">
                  <h4>Book Hotels, B&Bs & Pubs direct with Cool Places</h4>
                  <p>Get the lowest prices with Cool Places</p>
              </div>
            </div>
          </a>
        </div>
</div>
<div class="col-lg-6 col-md-12">
        <div class="news-tile view zoom z-depth-1 rounded mb-4">
          <a href="#" class="text-white">
            <img src="https://assets.bedful.com/images/4443a172319851c46dd21de89b31b04ce36301cc/large/image/cool-places-books.jpg"
                 class="img-fluid rounded-bottom">
            <div class="mask">
              <div class="text-white text-center py-4 ml-lg-4">
                  <h4>Book Hotels, B&Bs & Pubs direct with Cool Places</h4>
                  <p>Get the lowest prices with Cool Places</p>
              </div>
            </div>
          </a>
        </div>
</div>
<div class="col-lg-6 col-md-12">
        <div class="news-tile view zoom z-depth-1 rounded mb-4">
          <a href="#" class="text-white">
            <img src="https://assets.bedful.com/images/4443a172319851c46dd21de89b31b04ce36301cc/large/image/cool-places-books.jpg"
                 class="img-fluid rounded-bottom">
            <div class="mask">
              <div class="text-white text-center py-4 ml-lg-4">
                  <h4>Book Hotels, B&Bs & Pubs direct with Cool Places</h4>
                  <p>Get the lowest prices with Cool Places</p>
              </div>
            </div>
          </a>
        </div>
</div>
<div class="col-lg-6 col-md-12">
        <div class="news-tile view zoom z-depth-1 rounded mb-4">
          <a href="#" class="text-white">
            <img src="https://assets.bedful.com/images/4443a172319851c46dd21de89b31b04ce36301cc/large/image/cool-places-books.jpg"
                 class="img-fluid rounded-bottom">
            <div class="mask">
              <div class="text-white text-center py-4 ml-lg-4">
                  <h4>Book Hotels, B&Bs & Pubs direct with Cool Places</h4>
                  <p>Get the lowest prices with Cool Places</p>
              </div>
            </div>
          </a>
        </div>
</div>
<div class="col-lg-6 col-md-12">
        <div class="news-tile view zoom z-depth-1 rounded mb-4">
          <a href="#" class="text-white">
            <img src="https://assets.bedful.com/images/4443a172319851c46dd21de89b31b04ce36301cc/large/image/cool-places-books.jpg"
                 class="img-fluid rounded-bottom">
            <div class="mask">
              <div class="text-white text-center py-4 ml-lg-4">
                  <h4>Book Hotels, B&Bs & Pubs direct with Cool Places</h4>
                  <p>Get the lowest prices with Cool Places</p>
              </div>
            </div>
          </a>
        </div>
</div>
<div class="col-lg-6 col-md-12">
        <div class="news-tile view zoom z-depth-1 rounded mb-4">
          <a href="#" class="text-white">
            <img src="https://assets.bedful.com/images/4443a172319851c46dd21de89b31b04ce36301cc/large/image/cool-places-books.jpg"
                 class="img-fluid rounded-bottom">
            <div class="mask">
              <div class="text-white text-center py-4 ml-lg-4">
                  <h4>Book Hotels, B&Bs & Pubs direct with Cool Places</h4>
                  <p>Get the lowest prices with Cool Places</p>
              </div>
            </div>
          </a>
        </div>
</div>
<div class="col-lg-6 col-md-12">
        <div class="news-tile view zoom z-depth-1 rounded mb-4">
          <a href="#" class="text-white">
            <img src="https://assets.bedful.com/images/b720c3f0a668fd19dfea412b56cb44e7b200b9e4/large/image/cornwall.jpg"
                 class="img-fluid rounded-bottom">
            <div class="mask">
              <div class="text-white text-center py-4 ml-lg-4">
                  <h4>Book Hotels, B&Bs & Pubs direct with Cool Places</h4>
                  <p>Get the lowest prices with Cool Places</p>
              </div>
            </div>
          </a>
        </div>
</div>
<div class="col-lg-6 col-md-12">
        <div class="news-tile view zoom z-depth-1 rounded mb-4">
          <a href="#" class="text-white">
            <img src="https://assets.bedful.com/images/4443a172319851c46dd21de89b31b04ce36301cc/large/image/cool-places-books.jpg"
                 class="img-fluid rounded-bottom">
            <div class="mask">
              <div class="text-white text-center py-4 ml-lg-4">
                  <h4>Book Hotels, B&Bs & Pubs direct with Cool Places</h4>
                  <p>Get the lowest prices with Cool Places</p>
              </div>
            </div>
          </a>
        </div>
</div>
<div class="col-lg-6 col-md-12">
        <div class="news-tile view zoom z-depth-1 rounded mb-4">
          <a href="#" class="text-white">
            <img src="https://assets.bedful.com/images/4443a172319851c46dd21de89b31b04ce36301cc/large/image/cool-places-books.jpg"
                 class="img-fluid rounded-bottom">
            <div class="mask">
              <div class="text-white text-center py-4 ml-lg-4">
                  <h4>Book Hotels, B&Bs & Pubs direct with Cool Places</h4>
                  <p>Get the lowest prices with Cool Places</p>
              </div>
            </div>
          </a>
        </div>
</div>
<div class="col-lg-6 col-md-12">
        <div class="news-tile view zoom z-depth-1 rounded mb-4">
          <a href="#" class="text-white">
            <img src="https://assets.bedful.com/images/b720c3f0a668fd19dfea412b56cb44e7b200b9e4/large/image/cornwall.jpg"
                 class="img-fluid rounded-bottom">
            <div class="mask">
              <div class="text-white text-center py-4 ml-lg-4">
                  <h4>Book Hotels, B&Bs & Pubs direct with Cool Places</h4>
                  <p>Get the lowest prices with Cool Places</p>
              </div>
            </div>
          </a>
        </div>
</div>

</div>
</section>
</div>
</div>
</main>

{% endblock content %}